%ul.menu.vertical
  %li
    %a.button{:href => candidates_path } Candidates
  %li
    %a.button{:href => "#"} Hiring Managers
  %li
    %a.button{:href => dashboard_calendar_path} Calendar
  %li
    %a.button{:href => "#"} In process
  %li
    %a.button{:href => "#"} Interview Process Design
