%ul.menu.vertical
  %li
    %a.button.align-left{:href => root_url }
      %i.fi-home.normal-style
        Dashboard
  %li
    %a.button.align-left{:href => candidates_path }
      %i.fi-folder.normal-style
        Candidates
  %li
    %a.button.align-left{:href => "#"}
      %i.fi-torsos-all.normal-style
        Hiring Managers
  %li
    %a.button.align-left{:href => dashboard_calendar_path}
      %i.fi-calendar.normal-style
        Calendar
  %li
    %a.button.align-left{:href => "#"}
      %i.fi-refresh.normal-style
        In process
  %li
    %a.button.align-left{:href => "#"}
      %i.fi-wrench.normal-style
        Interview Process Design
