.top-bar
  .top-bar-left
    %ul.dropdown.menu{"data-dropdown-menu" => ""}
      %li= image_tag("logo.png", width: '80%')

  .top-bar-right{"data-dropdown-menu" => ""}
    %ul.menu.dropdown
      %li
        - if current_user
          %a{:href => "#"}= current_user.email
          %ul.menu
            %li
              %a{ href: '#' } Settings
            %li
              = link_to('Logout', destroy_user_session_path, method: :delete)
        - else
          = link_to('Login', new_user_session_path)

  .top-bar-right
    %ul.menu
      %li
        %input{:placeholder => "Search", :type => "search"}/
      %li
        %button.button{:type => "button"} Search
