.top-bar
  .top-bar-left
    %ul.dropdown.menu{"data-dropdown-menu" => ""}
      %li.menu-text Hiring Hero
      %li
        %a{:href => "#"} Dashboard
      %li
        %a{:href => "#"} Team
      %li
        %a{:href => "#"} About
  .top-bar-right
    %ul.menu
      %li
        %input{:placeholder => "Search", :type => "search"}/
      %li
        %button.button{:type => "button"} Search
